 <!DOCTYPE html>
    <html>
    <head>
        <title>Главная страница (Авторизованный пользователь)</title>
    </head>
    <body>
         <header>
            <nav>
                <a href="/">Название сайта</a>
                <a href="/service/">Услуги/Товары</a>
                <a href="/logout/">Выход</a>
            </nav>
        </header>
        <main>
            <section>
                <h1>Добро пожаловать в наш магазин!</h1>
                <p>Вы успешно авторизованы.</p>
            </section>
            <section>
                 <form action="/service/" method="get">
                     <input type="text" name="q" placeholder="Поиск товаров или услуг">
                     <button type="submit">Найти</button>
                 </form>
            </section>
           <section>
               <h2>Все товары</h2>
               {% if products %}
                    <ul>
                       {% for product in products %}
                            <li>
                              {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 100px; max-height: 100px;">
                              {% endif %}
                               <a href="/product/{{product.id}}">{{ product.name }}</a>
                            </li>
                        {% endfor %}
                   </ul>
                {% else %}
                   <p>Нет ни одного товара</p>
                {% endif %}
           </section>
        </main>
    </body>
    </html>